@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #000000, #7b5550);
}

.calculator {
    border: 2px solid rgb(91, 89, 89);
    padding: 20px;
    border-radius: 16px;
    height: 63%;
    background: linear-gradient(to right, rgb(23, 23, 23), rgb(12, 21, 68));
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);


}

input {
    width: 280px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: linear-gradient(45deg, #5f4c4c9a, #a5a3158f);
    box-shadow: 0px 3px 15px rgba(21, 31, 24, 0.1);
    font-size: 40px;
    text-align: right;
    color: #e2caca
}

input::placeholder {
    color: #e2caca
}

button {
    border-radius: 50%;
    border: none;
    color: rgb(198, 224, 162);
    cursor: pointer;
    width: 60px;
    height: 47px;
    padding: 20px;
    margin: 5px;
    background: transparent;
    box-shadow: -6px -4px 15px rgba(236, 241, 236, 0.3);



}

button:hover {
    background: rgba(25, 227, 220, 0.589);
    color: rgb(67, 55, 55);
    width: 65px;
    height: 50px;
}

.equal {
    background: linear-gradient(45deg, rgb(200, 188, 79), rgb(126, 66, 76));

}

.equal:hover {
    width: 65px;
    height: 50px;
    background: linear-gradient(45deg, rgb(166, 66, 66), rgb(255, 255, 255));
    transition: 2s;
}

.ac {
    background: linear-gradient(45deg, rgb(79, 213, 209), rgb(126, 66, 76));
}

.del {
    background: linear-gradient(45deg, rgb(148, 79, 200), rgb(126, 66, 76));
}

.percentage {
    background: linear-gradient(45deg, rgb(79, 111, 200), rgb(126, 66, 76));
}

.divide {
    background: linear-gradient(45deg, rgb(69, 205, 153), rgb(126, 66, 76));
}

.multiply {
    background: linear-gradient(45deg, rgb(200, 79, 135), rgb(126, 66, 76));
}

.substract {
    background: linear-gradient(45deg, rgb(234, 106, 67), rgb(126, 66, 76));
}

.add {
    background: linear-gradient(45deg, rgb(66, 224, 66), rgb(126, 66, 76));
}



.ac:hover {
    background: linear-gradient(45deg, rgb(79, 213, 95), rgb(205, 239, 204));
    color: white;

}

.del:hover {
    background: linear-gradient(45deg, rgb(79, 90, 213), rgb(161, 146, 149));
    color: white;
}

.percentage:hover {
    background: linear-gradient(45deg, rgb(59, 177, 106), rgb(202, 194, 195));
    color: white;
}

.divide:hover {
    background: linear-gradient(45deg, rgb(141, 172, 56), rgb(225, 203, 207));
    color: white;
}

.multiply:hover {
    background: linear-gradient(45deg, rgb(215, 171, 232), rgb(236, 217, 221));
    color: white;
}

.substract:hover {
    background: linear-gradient(45deg, rgb(216, 73, 76), rgb(216, 148, 159));
    color: white;
}

.add:hover {
    background: linear-gradient(45deg, rgb(183, 192, 221), rgb(205, 143, 154));
    color: white;
}

.rowOneNum {
    background: linear-gradient(45deg, rgb(185, 121, 91), rgb(20, 20, 20));
}

.rowTwoNum {
    background: linear-gradient(45deg, rgb(147, 59, 177), rgb(7, 7, 7));
}

.rowThreeNum {
    background: linear-gradient(45deg, rgb(177, 155, 59), rgb(12, 12, 12));
}

.rowFourNum {
    background: linear-gradient(45deg, rgb(177, 59, 144), rgb(7, 7, 7));
}


.rowOneNum:hover {
    background: linear-gradient(45deg, rgb(217, 90, 32), rgb(126, 112, 112));
    color: white;
}

.rowTwoNum:hover {
    background: linear-gradient(45deg, rgb(147, 59, 177), rgb(129, 120, 120));
    color: white;
}

.rowThreeNum:hover {
    background: linear-gradient(45deg, rgb(177, 155, 59), rgb(12, 12, 12));
    color: white;
}

.rowFourNum:hover {
    background: linear-gradient(45deg, rgb(177, 59, 144), rgb(129, 121, 121));
    color: white;
}